:root {
	--light-bg: #5FCF80;
	--dark-bg: #4BC970;
	--border-color: #3AC162;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Oxygen", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #ddd;
}

.game-container {
	width: 500px;
	height: 500px;

	position: absolute;
	text-align: center;
	top: calc(50% - 250px);
	left: calc(50% - 250px);
}

.new-game-btn {
	border-style: solid;
	border-width: 0px 0px 3px;
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
	color: #FFFFFF;
	border-radius: 6px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	transition: all 200ms ease-in-out 0s;
	white-space: nowrap;
	font-weight: 700;
	font-size: 20px;
	padding: 19px 39px 18px;
	margin: 5px auto;

	border-color: var(--border-color);
	background-color: var(--light-bg);
}

.new-game-btn:hover, .new-game-btn:focus, .new-game-btn:active {
	background-color: var(--dark-bg);
	border-color: var(--border-color);
}

.game-container .winner-container {
	margin-top: 20px;
}


.game-container .winner-text {
	font-size: 30px;
}

.line-row {
	background: linear-gradient(0deg,
		#fff calc(50% - 2px),
		var(--dark-bg) calc(50% - 2px),
		var(--dark-bg) calc(50% + 2px),
		#fff calc(50% + 2px)
	);
}

.line-column {
	background: linear-gradient(90deg,
		#fff calc(50% - 2px),
		var(--dark-bg) calc(50% - 2px),
		var(--dark-bg) calc(50% + 2px),
		#fff calc(50% + 2px)
	);
}

.line-main-diagonal {
	background: linear-gradient(45deg,
		#fff calc(50% - 2px),
		var(--dark-bg) calc(50% - 2px),
		var(--dark-bg) calc(50% + 2px),
		#fff calc(50% + 2px)
	);
}

.line-secondary-diagonal {
	background: linear-gradient(-45deg,
		#fff calc(50% - 2px),
		var(--dark-bg) calc(50% - 2px),
		var(--dark-bg) calc(50% + 2px),
		#fff calc(50% + 2px)
	);
}

.tic-tac-toe {
	font-size: 100px;
	border-collapse: collapse;
	background-color: white;
	text-align: center;

	width: 90%;
	height: 90%;
	table-layout: fixed;
	margin: auto;
}

.tic-tac-toe td {
	width: 33%;
	height: 33%;
	border: 3px solid black;
}
