body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #ddd;
}

.game-container {
	width: 500px;
	height: 500px;

	position: absolute;
	top: calc(50% - 250px);
	left: calc(50% - 250px);
}

.game-container button {
	display: block;
	margin: 5px auto;
}

.line-row {
	background: linear-gradient(0deg,
		#fff calc(50% - 3px),
		#000 calc(50% - 2px),
		#000 calc(50% + 2px),
		#fff calc(50% + 3px)
	);
}

.line-column {
	background: linear-gradient(90deg,
		#fff calc(50% - 3px),
		#000 calc(50% - 2px),
		#000 calc(50% + 2px),
		#fff calc(50% + 3px)
	);
}

.line-main-diagonal {
	background: linear-gradient(45deg,
		#fff calc(50% - 3px),
		#000 calc(50% - 2px),
		#000 calc(50% + 2px),
		#fff calc(50% + 3px)
	);
}

.line-secondary-diagonal {
	background: linear-gradient(-45deg,
		#fff calc(50% - 3px),
		#000 calc(50% - 2px),
		#000 calc(50% + 2px),
		#fff calc(50% + 3px)
	);
}

.tic-tac-toe {
	font-size: 100px;
	border: 1px solid black;
	border-collapse: collapse;
	background-color: white;
	text-align: center;

	width: 90%;
	height: 90%;
	table-layout: fixed;
	margin: auto;
}

.tic-tac-toe td {
	text-align: center;
	width: 33%;
	height: 33%;
	border: 1px solid black;
}
